#container{
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
  background-color: black;
  margin: auto;
  margin-top: 15%;
  border: 1px solid white;
  padding-bottom: 25px;

}

.btns{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.buttons{
  text-align: center;
  border-radius: 5px;
  background-color: gray;
  width: 45px;
  height: 45px;
  margin: 3px;
  border: 1px solid white;
}
#display{
  margin: 10px;
  width: 85%;
  font-size: 25px;
  border: 1px solid white;
  color: white;
}
*{
  background-color: black;
}
#txt{
  color: aliceblue;
  text-align: center;
 margin-bottom:-110px;
  
}